<!DOCTYPE html>
<html>
<head>
  <title>KpiManager</title>
  <%= stylesheet_link_tag    "kpi_manager/application", media: "all" %>
  <%= javascript_include_tag "kpi_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
